*{
    margin: 0;
    padding: 0;    
}
#header{
    max-width: 100vw;
    height: 10vh;
    background-color:black;
    display: flex;
    align-items: center;
    padding-left: 5vw;
}
i{
    color: white;
    cursor: pointer;
}
.whiteMode{
    background-color: white !important;
}
.whiteMoon{
    color: black !important;
    cursor: pointer;
}
img{
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
}
#main{
    max-width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
#form{
    width: 40vw;
    height: 70vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    width: 20vw;
    height: 6vh;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: #F7E7CE;
    margin-top: 4vh;
    border-radius: 5px;
}
button{
    width: 21vw;
    height: 6vh;
    background-color: #D4AF37;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5vh;
    border: none;
}
button:hover{
    opacity: 70%;
}
.main{
  background-color: white !important;  
}
.form{
    background-color: #cfc090 !important;
}
.button{
    background-color: black;
    color: white;
}